/* color */
$app-corporate-color1: #141e2d;
$app-corporate-color2: #d9d9d9;
$app-supporting-color: #d1b082;
$app-supporting-color2: #712e45;

/* font */
$app-primary-font: "Jacques Francois", sans-serif;
$app-secondary-font: "Italianno", cursive;
@import url("https://fonts.googleapis.com/css2?family=Jacques+Francois&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Italianno&display=swap");

/* Media query */
$phone-size-small: 375px;
$phone-size-big: 560px;
$tablet-size-portrait: 768px;
$tablet-size-paysage: 1024px;
$tablet-size-big: 1336px;
$desktop-size-small: 1448px;
$desktop-size-medium: 1663px;
$desktop-size-big: 1920px;

/* Cursor */
$pointer: pointer;
