$app-corporate-color1: #85242b;
$app-corporate-color2: #111111;
$app-supporting-color: #d1b082;
$app-supporting-color2: #712e45;


$phone-size-small: 320px;
$phone-size-big: 560px;
$tablet-size-portrait: 768px;
$tablet-size-paysage: 1024px;
$tablet-size-big: 1336px;
$desktop-size-small: 1448px;
$desktop-size-medium: 1663px;
$desktop-size-big: 1920px;
