@use "variables" as *;
@use "placeholder" as *;
@use "./mixins/mixins" as *;
@use "./components/homepage.scss" as *;
@use "./components/notFoundPage.scss" as *;
@use "./components/CGUPage.scss" as *;
@use "./components/navbar.scss" as *;
@use "./components/footer.scss" as *;
@use "./components/card.scss" as *;

//pages
@import "../scss/components/homepage.scss";
@import "../scss/components/cardSocle.scss";
@import "../scss/components/getPageFivePlanet.scss";

//components
@import "../scss/components/textDecrivePlanet.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: $app-primary-font;
  background-color: $app-corporate-color1;
  color: $app-corporate-color2;
  line-height: 1.5;
  height: 100vh;
  width: 100%;
  font-size: 20px;
}

h1 {
  padding: 0 1rem;
}
