@use "../variables" as *;
@use "../mixins/mixins" as *;

.card {
  word-wrap: break-word;
  margin: 1rem;
  cursor: pointer;

  .card-front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    width: 260px;
    box-shadow: 0px 2px 14px #4f4b4b;
    border-radius: 40px;
    cursor: pointer;
  }

  .flipped .card-front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }

  // back of card
  .card-back {
    display: flex;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    width: 260px;
    background-color: $app-corporate-color1;
    border: none;
    border-radius: 40px;
    cursor: pointer;
    position: relative;
  }

  .card-back:hover {
    box-shadow: 0px 2px 14px #7e7c7c;
    display: block;
    transition-delay: 0s;
  }

  .flipped .card-back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }

  .img-with-hover-text {
    position: relative;
    display: inline-block;
  }

  .img-with-hover-text:hover .hover-text {
    display: block;
    border-radius: 20px;
  }

  .hover-text {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 10px;
    cursor: pointer;
  }
}

@media screen and (max-width: $tablet-size-paysage) {
  .card {
    .card-front,
    .card-back {
      width: 194px;
    }
  }
}
