@use "../variables" as *;
@use "../mixins/mixins" as *;

.card {
  word-wrap: break-word;
  margin: 1rem;

  .card-front {
    position: absolute;
    transform: rotateY(90deg);
    transition: all ease-in 0.2s;
    width: 260px;
    box-shadow: 0px 2px 14px #4f4b4b;
    border-radius: 40px;
    cursor: pointer;
  }

  .flipped .card-front {
    transform: rotateY(0deg);
    transition-delay: 0.2s;
  }

  // back of card
  .card-back {
    display: flex;
    transition: all ease-in 0.2s;
    transition-delay: 0.2s;
    width: 260px;
    background-color: $app-corporate-color1;
    border: none;
    box-shadow: 0px 2px 14px #4f4b4b;
    border-radius: 40px;
    cursor: pointer;
  }

  .flipped .card-back {
    transform: rotateY(90deg);
    transition-delay: 0s;
  }
}

@media screen and (max-width: $tablet-size-paysage) {
  .card {
    .card-front,
    .card-back {
      width: 194px;
    }
  }
}
