.ReservationNavbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: auto;

  button {
    height: 60px;
    width: 300px;
    border-radius: 10px;
    border: #d9d9d9 2px solid;
    background-color: #2d394b;
    color: white;
  }

  .planet-page-button-reservation {
    display: flex;
    align-items: center;
    margin-left: 106px;
  }
}

.planet-page-guide {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    height: 60px;
    width: auto;
    margin-left: 37px;
  }
}
