.textDecrivePlanet {
  /* grid-column: 2 / 4;
    grid-row: 2 / 3; */
  width: 46.5%;
  word-wrap: break-word;
  .textDecrivePlanetTitle {
    text-align: center;
  }

  .textDecrivePlanetParagraphe {
    margin-top: 8vh;
  }
}

@media screen and (max-width: $tablet-size-paysage) {
  .textDecrivePlanet {
    width: 46%;
  }
}
